{% extends "layout.html" %} {% block content %}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <h1 class="display-5 fw-bold lh-1 mb-3">About Us</h1>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-md-5">
    <div class="card p-3 py-4">
      <div class="text-center">
        <img
          src="https://media-exp1.licdn.com/dms/image/C4E03AQEV6zDh72wZqg/profile-displayphoto-shrink_800_800/0/1647724297428?e=1659571200&v=beta&t=qe5YBPnwPfcC08NNX_gjeuo9JiiJ40vSTCZdV7yJGZw"
          width="100"
          class="rounded-circle"
        />
      </div>

      <div class="text-center mt-3">
        <h5 class="mt-2 mb-0">Hisham Sharrouf</h5>
        <span>Data Scientist | ML Engineer</span>

        <div class="px-4 mt-1">
          <p class="fonts">
            Talks about #ai, #datascience, #dataanalysis, #aiagriculture, and
            #machinelearning
          </p>
        </div>

        <ul class="social-list">
          <li>
            <a href="https://www.linkedin.com/in/hisham-sharrouf/"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/hisham-sharrouf/"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a href="mailto: hishamsharrouf111@gmail.com"
              ><i class="fas fa-envelope"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card p-3 py-4">
      <div class="text-center">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5603AQHOmrVdT2TLug/profile-displayphoto-shrink_800_800/0/1650044360617?e=1659571200&v=beta&t=acioN5uHUnmTbE4hP_X2CxzAkFe2Y3r7EEa004ClMWw"
          width="100"
          class="rounded-circle"
        />
      </div>

      <div class="text-center mt-3">
        <h5 class="mt-2 mb-0">Lora Lameh</h5>
        <span>React Developer | ML Engineer</span>

        <div class="px-4 mt-1">
          <p class="fonts">Mathematics x Computer Science x Machine Learning</p>
        </div>

        <ul class="social-list">
          <li>
            <a href="https://github.com/loralameh"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/lora-lameh/"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a href="mailto: loralameh@gmail.com"
              ><i class="fas fa-envelope"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
