{% extends "layout.html" %} {% block content %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img
      src="{{profile1}}"
      class="d-block mx-lg-auto img-fluid"
      alt="Mana"
      width="700"
      height="500"
    />
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3 mt-0">About Decentraland</h1>
    <p class="lead">
      Decentraland (MANA) is an Ethereum token that powers the Decentraland
      virtual reality platform. MANA can be used to pay for virtual plots of
      land in Decentraland as well as in-world goods and services.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="https://decentraland.org/">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          Visit Official Page
        </button></a
      >
    </div>
  </div>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <h1 class="display-5 fw-bold lh-1 mb-3">What Is Decentraland (MANA)?</h1>
  <p class="lead">
    Decentraland is a 3D virtual reality platform where users can create and
    monetize content and applications. Decentraland is based on the Ethereum
    blockchain and aims to establish a network owned by its users and provides
    an immersive experience. The platform is a shared metaverse where users can
    purchase virtual plots of land. A metaverse is a shared virtual world where
    users can socialize, interact, learn, and play. In simpler words,
    Decentraland is a decentralized world where users can explore LAND owned by
    users, experience scenes and structures, trade virtual assets, and connect.
  </p>

  <p class="lead">
    Today, as people spend more time in virtual worlds for work and leisure, the
    big centralized organizations manage the network rules and content flow. The
    creators and developers, in return, are paid very little. To solve this,
    Decentraland provides a decentralized infrastructure where users can gather,
    share content, and play games and also where the creators can derive the
    full value of their efforts. On the platform, advertisers can display their
    brands, artists can set up virtual galleries for their digital art, and much
    more.
  </p>
  <div class="row py-2">
    <div class="col-12 col-md-6">
      <img src="{{profile2}}" class="d-block mx-lg-auto img-fluid" alt="Mana" />
    </div>
    <div class="col-12 col-md-6">
      <p class="lead">
        In Decentraland, the space that a user interacts with is known as LAND.
        According to the whitepaper, LAND is a finite and transferable 3D
        virtual space that is a non-fungible digital asset (NFT) that users can
        purchase and is permanently owned by them. The LAND owners can choose to
        do whatever they like on their portion of LAND, like creating dynamic
        scenes, applications, and games. As per the official website, each plot
        of LAND is an ERC-721 token and is of size 52 feet by 52 feet (16 meters
        by 16 meters). The total number of plots is capped at 90,601 and can be
        bought using MANA tokens.
      </p>
    </div>
  </div>
  <p class="lead">
    MANA token is the in-game currency of Decentraland and also serves as the
    platform's cryptocurrency. MANA is an ERC-20 token that lets users purchase
    or trade LAND and pay for goods and services in the virtual world. The token
    can be used to purchase estates, avatars, wearables, and unique names
    through the Decentraland Marketplace. Decentraland offers a comprehensive
    marketplace that is the go-to place to trade and manage all the on-chain
    assets.
  </p>
  <p class="lead">
    Talking about the game play, every user needs to create an avatar to enter
    into the virtual world. Avatars can be personalized; users can change body
    type, shoes, accessories, and much more. There are many things to do in the
    virtual world, like interacting with other players, visiting casino
    districts, listening to music, enjoying parties with other players, or just
    roaming. Creators have built Decentraland with the help of scenes that are
    displayed one next to another. A scene here is an experience and is a little
    world in itself where the players can walk from one scene to the other.
  </p>
</div>

{% endblock content %}
